###############################
# nftlb and kube-nftlb-client #
###############################

NFTLB_KEY=
NFTLB_PROTOCOL=http
NFTLB_HOST=localhost
NFTLB_PORT=5555
# Connection settings (NFTLB_KEY MUST BE SET!)

NFTLB_LOGS_LEVEL=5
NFTLB_LOGS_OUTPUT=1
# Log settings

NFTLB_MASQUERADE_MARK=0x40000000
# Masquerade mark (hex)

CLIENT_CFG_PATH=/var/config-kubernetes/admin.conf
CLIENT_START_DELAY_TIME=20s
CLIENT_LOGS_LEVEL=2
# Client settings

DOCKER_INTERFACE_BRIDGE=docker0
# DSR mode


###################
# Pod healthiness #
###################

HEALTH_CHECK_TIMEOUT=20
# Every HEALTH_CHECK_TIMEOUT seconds, nftlb and kube-nftlb-client processes are checked;
# if one of them has exited with error, the container stops running
