#!/usr/bin/env bash

set -e

TIMEOUT=180s
SLEEP_TIME=60

function count_rules {
    # You are expected to put the logic here to get the raw count of rules
}

function print_count {
    # This prints the result with the correct format, you are not supposed to change this
    echo "$1: $(count_rules)"
}


########
# Main #
########

# Params
KUBE_PATH=$1
KUBE_NAME=$(echo "$KUBE_PATH" | sed -e 's/^.*kubes\///' -e 's/[.]yaml$//')
DEPLOYMENT_PATHS=./testdata/deployments/*
if [ -n "$2" ]
then
    DEPLOYMENT_PATHS="${@:2}"
fi

# Create kube
echo "$KUBE_NAME {"
kubectl apply -f "$KUBE_PATH" --timeout="$TIMEOUT"
kubectl wait --namespace=kube-system --for=condition=Ready pods -l app="$KUBE_NAME" --timeout="$TIMEOUT"
sleep 60 # Hardcoded, grace time
print_count "create-kube"

# Test every deployment and its service
for DEPLOYMENT_PATH in $DEPLOYMENT_PATHS
do
    DEPLOYMENT_NAME=$(echo "$DEPLOYMENT_PATH" | sed -e 's/^.*testdata\/deployments\///' -e 's/[.]yaml$//')
    SERVICE_PATH=$(echo "$DEPLOYMENT_PATH" | sed 's/deployments/services/')
    COUNT_FILE="./testdata/expected-rule-count/$KUBE_NAME/$DEPLOYMENT_NAME.txt"

    # If count file exists delete it, and create it afterwards
    if [ -f "$COUNT_FILE" ] ; then
        rm "$COUNT_FILE"
    fi
    touch "$COUNT_FILE"

    # Create deployment
    echo -e "\t$DEPLOYMENT_NAME {"
    kubectl apply -f "$DEPLOYMENT_PATH" --timeout="$TIMEOUT"
    kubectl wait -f "$DEPLOYMENT_PATH" --for=condition=Available --timeout="$TIMEOUT"
    sleep "$SLEEP_TIME"
    print_count "create-deployment"

    # Create service
    kubectl apply -f "$SERVICE_PATH" --timeout="$TIMEOUT"
    sleep "$SLEEP_TIME"
    RESULT_CREATE=$(print_count "create-service")
    echo "$RESULT_CREATE"
    echo "$RESULT_CREATE" >> "$COUNT_FILE"

    # Delete service
    kubectl delete -f "$SERVICE_PATH" --timeout="$TIMEOUT"
    sleep "$SLEEP_TIME"
    RESULT_DELETE=$(print_count "delete-service")
    echo "$RESULT_DELETE"
    echo "$RESULT_DELETE" >> "$COUNT_FILE"

    # Delete deployment
    kubectl delete -f "$DEPLOYMENT_PATH" --timeout="$TIMEOUT"
    kubectl wait --for=delete pods -l app="$DEPLOYMENT_NAME" --timeout="$TIMEOUT"
    sleep "$SLEEP_TIME"
    print_count "delete-deployment"
    echo -e "\t}"
done

# Delete kube
kubectl delete -f "$KUBE_PATH" --timeout="$TIMEOUT"
kubectl wait --namespace=kube-system --for=delete pods -l app="$KUBE_NAME"
echo "}"
